In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Select the datasets from Kaggle, there are no ready datasets for this classes exercises, good for regression is INdia House Price Prediction

In [83]:
# Create a dictionary called phones to contain example data
phones = {
    "x": [568, 341, 609, 477, 511],
    "y": [75, 46, 87, 59, 61]
}

In [84]:
# Create a DataFrame from the phones dictionary
df = pd.DataFrame.from_dict(phones)

In [85]:
# Call the dataframe to visualize it
df

     x   y
0  568  75
1  341  46
2  609  87
3  477  59
4  511  61

In [86]:
# For solving the linear regression formula, save the mean of x and y in variables
x_mean = df['x'].mean()
y_mean = df['y'].mean()

In [87]:
# Visualize the DataFrame
df

     x   y
0  568  75
1  341  46
2  609  87
3  477  59
4  511  61

In [88]:
# Calculate the differences of x and y regarding
# the average x/y point
df['x-diff'] = df['x'] - x_mean
df['y-diff'] = df['y'] - y_mean

In [89]:
# Visualize the DataFrame
df

     x   y  x-diff  y-diff
0  568  75    66.8     9.4
1  341  46  -160.2   -19.6
2  609  87   107.8    21.4
3  477  59   -24.2    -6.6
4  511  61     9.8    -4.6

In [90]:
# Create 2 new variables to store the square of the differences
df['x-diff2'] = df['x-diff'] ** 2
df['xy-diff'] = df['x-diff'] * df['y-diff']

In [91]:
# Visualize the DataFrame
df

     x   y  x-diff  y-diff   x-diff2  xy-diff
0  568  75    66.8     9.4   4462.24   627.92
1  341  46  -160.2   -19.6  25664.04  3139.92
2  609  87   107.8    21.4  11620.84  2306.92
3  477  59   -24.2    -6.6    585.64   159.72
4  511  61     9.8    -4.6     96.04   -45.08

In [92]:
# Get sums and solve m in the equation
xy_diff_total = df['xy-diff'].sum()
x2_diff_total = df['x-diff2'].sum()

# Solve m by using the least square method
m = float(round(xy_diff_total / x2_diff_total, 3))

In [93]:
# Visualize the m
m

0.146

In [94]:
# Solve b by using the average point
b = float(round(y_mean - m * x_mean, 2))

# Visualize the b
b

-7.58

In [95]:
 # Here is the final fornmula for the equation
text = f"y^ = {m} * x + {b}"
text

'y^ = 0.146 * x + -7.58'